.app.dark {
    --bg-color: #232323;
    --inverted-bg-color: #1a1a1a;
    --primary-color: rgb(1 185 1);
    --secondary-color: rgb(0 91 0);
    --inverted-primary-color: rgb(1 185 1);
    --inverted-secondary-color: rgb(0 91 0);
}
