.app.dark {
    --bg-color: #232323;
    --inverted-bg-color: #1A1A1A;

    --primary-color: rgb(1, 185, 1);
    --secondary-color: rgb(0, 91, 0);
    --inverted-primary-color: rgb(1, 185, 1);
    --inverted-secondary-color: rgb(0, 91, 0);
}